:root{
  --primary:#6C4CF1;
  --secondary:#4F46E5;

  --dark:#0b1020;
  --dark-2:#0f1528;
  --card:#12182b;
  --card-2:#1a2238;

  --text:#ffffff;
  --muted:#94A3B8;

  --border:rgba(255,255,255,.08);
  --border-strong:rgba(255,255,255,.14);

  --success:#10B981;
  --danger:#EF4444;
  --warning:#F59E0B;

  --white:#F8FAFC;

  --shadow:0 25px 60px rgba(0,0,0,.35);
  --radius:20px;
}